
    <% products.each do |product| %>
      <div class="col-lg-3 col-md-3 col-sm-12  <%= product[:class] %>">
        <div class="col-lg-3 col-md-3 col-sm-12  overlay">
          <h1 class="text-capitalize"><%= product[:text] %></h1>
        </div>
      </div>
    <% end %>

  </div>
  <footer class="container-fluid">
    <div class="col-xs-1"></div>
    <div class="ccol-lg-4 col-md-4 col-sm-12  footer-logo">
      <img class="img-responsive" src="images/mr-banana-grabber.png"/>
      <p>Bluth Industries</p>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-lg-5 col-md-5 col-sm-12  container-fluid">
      <ul class="nav navbar-nav footer-nav">
        <% links.each do |l| %>
          <li><a href="#"><%= l[:link] %></a></li>

          <% end %>
    </div>
  </footer>
